<footer>
  <div class="uk-padding uk-text-center">
    <div class="uk-width-1-2@s uk-align-center">
      <p class="uk-text-small">このページは<a href="https://jinja.palletsprojects.com/en/master/" target="_blank" rel="noopener">Jinja2</a>と<a href="https://getuikit.com/" target="_blank" rel="noopener">UIKit</a>で構築されています。また、<a href="https://htmlmin.readthedocs.io/en/latest/" target="_blank" rel="noopener">htmlmin</a>、<a href="https://github.com/sprymix/csscompressor" target="_blank" rel="noopener">csscompressor</a>、<a href="https://github.com/tikitu/jsmin" target="_blank" rel="noopener">jsmin</a>といったPythonライブラリでソースサイズを小さくしています。HTMLソースおよびコンパイルコードは<a href="https://github.com/toshikiohnogi/to-base" target="_blank" rel="noopener" >こちら</a>から見ることができます。</p>
    </div>
    <p class="uk-text-small"><a href="https://twitter.com/nogissh" target="_blank">@nogissh</a>, all rights researved.</p>
  </div>
</footer>
