<header>
  <div class="uk-container">
    <div class="uk-width-1-3@l uk-align-center">
      <nav class="uk-navbar">
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li>
              <a href="https://fb.com/nogissh" target="_blank" rel="noopener">
                <span uk-icon="facebook"></span>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/nogisshgram" target="_blank" rel="noopener">
                <span uk-icon="instagram"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
