<!DOCTYPE html>
<html lang="ja">
<head>
<script data-ad-client="ca-pub-7849159732439782" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>{{ js }}</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Nogisshのプロフィールページです。">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/css/uikit.min.css" />
<style>{{ external_css }}</style>
<title>to-base</title>
</head>
<body>
{%- include 'components/header.html' -%}
<div class="uk-container">
{%- block content -%}
{%- endblock -%}
</div>
{%- include 'components/footer.html' -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.24/js/uikit-icons.min.js"></script>
<script>{{ external_script }}</script>
</body>
</html>
